#set($layout = "layout/null.vm")
<div id="header">
    <div id="sys-infor">
		<span><i class="icon-user"></i><span style="color:#0066CC">$!{displayName}</span></span>
        <i class="icon-off"></i><a href="#springUrl('/manage/logout')">注销</a>
    </div>
    <div id="logo"><a title="京东招聘平台" href="#springUrl('/')">京东招聘平台</a></div>
</div>


