#set($layout = "layout/null.vm")
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>JDOA Message Alert</title>
    <style type="text/css">
        label.fontCSS{
            font-family:Verdana, Arial, Helvetica, sans-serif;
            font-size:18px;
            font-weight:bold;
        }
        #messageBoxFrame {background: transparent; margin:25px 1em 100px 1em; width:80%; margin:0 auto;}

		.xtop, .xbottom {display:block; background:transparent; font-size:1px;}
		.xb1, .xb2, .xb3, .xb4 {display:block; overflow:hidden;}
		.xb1, .xb2, .xb3 {height:1px;}
		.xb2, .xb3, .xb4 {background:#fbeec3; border-left:1px solid #ebc13b; border-right:1px solid #ebc13b;}
		.xb1 {margin:0 5px; background:#ebc13b;}
		.xb2 {margin:0 3px; border-width:0 2px;}
		.xb3 {margin:0 2px;}
		.xb4 {height:2px; margin:0 1px;}
		
		.xboxcontent {display:block; border:0 solid #ebc13b; border-width:0 1px; height:100%; background-color:#fbeec3;}
    </style>
</head>
<body style="background-repeat:repeat-x;">
	<div id="messageBoxFrame">
		<b class="xtop">
			<b class="xb1"></b>
			<b class="xb2"></b>
			<b class="xb3"></b>
			<b class="xb4"></b>
		</b>
		<div class="xboxcontent">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="26%" height="120" align="center">
						<img src="#springUrl('')/static/admin/skin/img/alert.png" width="160" height="170" />
					</td>
					<td width="74%">
						<table width="100%" border="0" cellspacing="0" cellpadding="0">
							<tr>
								<td height="20" valign="bottom">
									<h2 style="color:#a0560d; font-family:'Arial, Helvetica, sans-serif'; font-weight:normal; margin:0;">$!{title}</h2>
								</td>
							</tr>
							<tr>
								<td height="20" valign="top">
									<p style="color:#a0560d; font-family:'Arial, Helvetica, sans-serif'; font-size:16px; margin:0; padding-right:10px;">$!{message}</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	   <b><b class="xb4"></b><b class="xb3"></b><b class="xb2"></b><b class="xb1"></b></b>
	</div>
</body>
</html>
