#set($layout = "layout/submitNew.vm")
<script type="text/javascript" src="#springUrl('')/js/manage/goods/goods_apply.js"></script>

<input type="hidden" id="id" value="${goods.id}"/>
<div id="applyXuniGoods">
	<div class="content">
		<div class="grid">
			<div class="col">
				<div class="col-con">
					<span class="search-tag">商品图片</span>
					<img id="goods-upload-img" src="${goods.photoUrl}" style="width:100px;" /></br></br>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="col">
				<div class="col-con">
					<span class="search-tag">商品名称</span>
					<input type="text" id="titleAdd" name="titleAdd" value="${goods.title}" readOnly="true"/>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="col">
				<div class="col-con">
					<span class="search-tag">积分</span>
					<input type="text" id="bonuSpointAdd" name="bonuSpointAdd" value="${goods.bonuSpoint}" readOnly="true"/>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="col">
				<div class="col-con">
					<span class="search-tag">库存</span>
					不限
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="col">
				<div class="col-con">
					<span class="search-tag">审核操作</span>
					<input type="radio" id="applyGoods0" name="applyGoods" value="3" checked>
					<span>同意上架</span>
					<input type="radio" id="applyGoods1" name="applyGoods" value="4">
					<span>拒绝上架</span>
				</div>
			</div>
		</div>
		<div class="grid">
			<div class="col">
				<div class="col-con">
					<span class="search-tag">商品详情</span>
					${goods.detailInfo}
				</div>
			</div>
		</div>
	</div>
	<div id="tabInfo">
		<table id="goodsLogtab" class="table table-striped table-bordered display dataTable" >
			<tr style="font-family: '微软雅黑'; font-weight: bold;">
				<td>操作人ERP</td>
				<td>操作人姓名</td>
				<td>操作时间</td>
				<td>操作类型</td>
			</tr>
			#foreach($goodsLog in $!{goodsAuditLogs})
			<tr>
				<td>$!{goodsLog.handlerErp}</td>
				<td>$!{goodsLog.handler}</td>
				<td>$!{goodsLog.handlerTimeStr}</td>
				<td>$!{goodsLog.nodeName}</td>
			</tr>
			#end
		</table>
	</div>
</div>