#set($layout = "layout/null.vm")
<link rel="stylesheet" type="text/css" href="#springUrl('static/fuli/css/about.css')" combo-use="#springUrl('static/fuli/css/about.min_cc180150.css')">
<div class="mod_body">

      <div class="about">

        <div class="about_logo">福利平台</div>
        <h3 class="about_tt">关于福利平台那点事儿</h3>
        <div class="about_desc">福利平台是京东人力资源部-福利设计部门为大家准备的一个以福利为目的的积分商城。福利平台是京东人力资源部-福利设计部门为大家准备的一个以福利为目的的积分商城。福利平台是京东人力资源部-福利设计部门为大家准备的一个以福利为目的的积分商城。福利平台是京东人力资源部-福利设计部门为大家准备的一个以福利为目的的积分商城。福利平台是京东人力资源部-福利设计部门为大家准备的一个以福利为目的的积分商城。 </div>

        <ul class="about_list">
          <li>
            <i></i>
            <a href="#" class="about_list_tt">问题标题问题？</a>
            <div class="about_list_a">
              回答：文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本
            </div>
          </li>
          <li>
            <i></i>
            <a href="#" class="about_list_tt">问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题问题标题问题？</a>
            <div class="about_list_a">
              回答：文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本
            </div>
          </li>
          <li>
            <i></i>
            <a href="#" class="about_list_tt">问题标题问题？</a>
            <div class="about_list_a">
              回答：文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本
            </div>
          </li>
          <li>
            <i></i>
            <a href="#" class="about_list_tt">问题标题问题？</a>
            <div class="about_list_a">
              回答：文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本文本
            </div>
          </li>
        </ul>

      </div>

    </div>
    <script src="#springUrl('js/fuli/about.js')"></script>