#set($layout = "layout/defaultNew.vm")
<script type="text/javascript" src="#springUrl('')/js/manage/task/scheduleJob_index.js"></script>

<div id="scheduleJobSearchform" class="filtrate-wrap">
	<ul class="filtrate columns">
		<li>
			<div class="txt">任务名称</div>
			<div class="con">
				<input id="jobNameTitle" value="" class="title" type="text" />
			</div>
		</li>
		<li>
			<div class="txt">任务状态</div>
			<div class="con">
				<select id="currentJobStatus">
					<option value="">请选择</option>
					<option value="0">禁用</option>
					<option value="1">启用</option>
				</select>
			</div>
		</li>
		<li class="status row">
			<div class="txt"></div>
			<div class="con">
				<div id="scheduleJobSearch" class="btn-red btn-lg">查询</div>
			</div>
		</li>
	</ul>
</div>
<div class="summary">
	<div class="btn-red add" data-toggle="modal" data-target="#J-modal-plan">新增</div>
	<div class="btn-gray dele" data-toggle="modal" data-target="#J-modal-plan">删除</div>
	<table cellpadding="0"  cellspacing="0" border="0" class="dataTable" id="scheduleJobTable" width="100%">
	</table>
</div>


