#set($layout = "layout/defaultNew.vm")
<script type="text/javascript" src="#springUrl('/static/datetimepicker/bootstrap-datetimepicker.min.js')"></script>
<script type="text/javascript" src="#springUrl('/static/datetimepicker/bootstrap-datetimepicker.zh-CN.js')"></script>
<script type="text/javascript" src="#springUrl('')/js/manage/cost/month_cost_index.js"></script>
<div id="costSearchform" class="filtrate-wrap">
	<ul class="filtrate columns">
		<li>
			<div class="txt">日期</div>
			<div class="con">
				<input id="yearMonth" type="text" onfocus="WdatePicker({dateFmt:'yyyy/MM'})" class="beginTime"/>
			</div>
		</li>
		<li>
			<div class="txt">机构全称</div>
			<div class="con">
				<input id="accountOrg" value="" class="title" type="text"/>
		</li>
		<li class="status row">
			<div class="txt"></div>
			<div class="con">
				<div id="costSearch" class="btn-red btn-lg">查询</div>
			</div>
		</li>
		<li class="clear"></li>
	</ul>
</div>
<div class="clear"></div>
<div class="summary">
	<div class="clear"></div>
	<table cellpadding="0"  cellspacing="0" border="0" class="dataTable" id="costTable" width="100%">
	</table>
</div>