#set($layout = "layout/default.vm")
<!-- CSS -->
<link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyle.css')" rel="stylesheet" type="text/css" />
<link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeIcons.css')" rel="stylesheet" type="text/css" />
<link href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyleCustomer.css')" rel="stylesheet" type="text/css" />
<!-- JavaScript -->
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.core-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.excheck-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exedit-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
<input  type="hidden" id="source" value="$!{source}"/>
<script type="text/javascript" src="#springUrl('')/js/manage/func/group_user.js"></script>
<script>
    var baseUrl = "#springUrl('')";

    if(addressUserArray==undefined){
        addressUserArray = new Array();
    }else{
        addressUserArray=null;
        addressUserArray = new Array();
    }

</script>
<style>
    .row-fluid .span11 {
        width: 97.453%;
    }
    .userList {
        background: none repeat scroll 0 0 #e5e5e5;
        border-radius: 5px;
        height: 23px;
        margin: 5px 0;
        overflow-y: auto;
        padding: 10px 0px 5px 5px;
        display: none;
        text-align:left;
    }

    .userList span {
        background: none repeat scroll 0 0 #fff;
        border-radius: 4px;
        cursor: default;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        margin-bottom: 10px;
        margin-right: 20px;
        padding: 0 8px;
        position: relative;
    }
    .userList span a {
        background: url("/static/admin/skin/img/del-span.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        display: inline-block;
        height: 13px;
        line-height: 9999px;
        overflow: hidden;
        position: absolute;
        right: -4px;
        top: -6px;
        width: 13px;
    }

</style>
<div id="mainPanel" >

    <table width="99%" border="0">
        <tr>
            <td valign="top" rowspan="2" id="tree_org" style="display:none">
                <ul id="orgTree" class="ztree"></ul>
            </td>
            <td>
                <div class="form-horizontal" display="">
                    <div style="float:left;height:30px" >
                        <a href="#" id="tree_open_arrow">
                            <img width="10" border="0" id="leftimg" src="/static/admin/skin/img/tabs_rightarrow.png"></a>
                    </div>
                    <div class="control-group" style="text-align:left;margin-bottom:0px;">
                        <label class="control-label" style="width:70px;">用户：</label>
                        <div class="controls" style="margin-left:0;">
                            <label ><input id="userName" type="text"  width="100px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input id="searchUser" type="button" class="btn" value="搜索" /></label>
                        </div>
                    </div>
                    <div id="address_user_list" class="userList">

                    </div>
                </div>



            </td>
        </tr>
        <tr>
            <td valign="top" align="left">
                <div style="border:0px solid gray;width:100%" >
                    <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered display" id="orgUserDataTable" ></table>
                </div>
            </td>
        </tr>
    </table>
</div>
