#set($layout = "layout/defaultNew.vm")
<script type="text/javascript" src="#springUrl('')/js/manage/func/operation_index.js"></script>

<div class="summary">
	<div class="btn-red add" data-toggle="modal" data-target="#J-modal-plan">新建</div>
	<div class="clear"></div>
	<table cellpadding="0"  cellspacing="0" border="0" class="dataTable" id="sysoperation" width="100%">
	</table>
</div>