#set($layout = "layout/empty.vm")
<link rel="stylesheet" href="#springUrl('/static/zTree/css/zTreeStyle/zTreeStyle.css')" type="text/css">

<div >
    <div>
        <div class="zTreeDemoBackground left">
            <ul id="privilegeTree" class="ztree" style=" overflow-x: auto;"></ul>
        </div>
    </div>
</div>
	
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.all-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.core-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.excheck-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exedit-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
<script type="text/javascript" src="#springUrl('/static/zTree/js/jquery.ztree.exhide-3.5.js')"></script>
<script>
	var baseUrl = "#springUrl('')";
	var treeNode = ${treeNode};
	var roleId = "${roleId}";
</script>
<script type="text/javascript" src="#springUrl('')/js/manage/func/rolePrivilege.js"></script>