##################################
## 数据字典-数据类别新建页面
##author：dongjian
##################################

#set($layout = "layout/submitNew.vm")
<!-- 数据字典-数据类别管理新建页面JS -->
<script type="text/javascript" src="#springUrl('')/js/manage/dict/dicttype_add.js"></script>
<style>
    .mustInput{
        color: red;
        vertical-align: middle;
    }
</style>
<form id="dictTypeForm" method="POST" action="" enctype="multipart/form-data">
    <input type="hidden" id="parentId" name="parentId" value="$!{parentId}" />

    <div class="form-horizontal">
        <div class="control-group" style="height: 40">
            <label class="control-label" for="dictTypeName"><span class="mustInput">*</span>类别名称:</label>
            <div class="controls">
                <input type="text" id="dictTypeName" name="dictTypeName" required data-rule="required;length[~32]" />
                <input type="hidden" id="id" name="id">
                <span id="isRepeatDictTypeName"></span>
            </div>
        </div>
        <div class="control-group" style="height: 40">
            <label class="control-label" for="dictTypeCode"><span class="mustInput">*</span>类别编码:</label>
            <div class="controls">
                <input type="text" id="dictTypeCode" name="dictTypeCode" required data-rule="required;nochineseandspecial;length[~30];" />
                <span id="isRepeatDictTypeCode"></span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="description">类别描述:</label>
            <div class="controls">
                <textarea id="description" name="description" class="span8" rows="5" data-rule="length[~50]"></textarea>
            </div>
        </div>
        <div>
            <div class="control-group">
                <div class="controls">
                	<div id="addDictType" class="btn-red btn-lg">保存</div>
    				<div id="cancelDictType" class="btn-cancel btn-lg">取消</div>
                </div>
            </div>
        </div>
    </div>
</form>